@model Ogrenci

@{
    ViewData["Title"] = "Öğrenci Ekle";
}

<h2>Yeni Öğrenci Ekle</h2>

<form asp-action="OgrenciEkle" asp-controller="Ogrenci" method="post">
    <div>
        <label>Ad:</label>
        <input asp-for="Ad" class="form-control" />
    </div>

    <div>
        <label>Soyad:</label>
        <input asp-for="Soyad" class="form-control" />
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>